.PetList {

}

.PetList .PetList__Item {
  transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out;
}

.PetList--closed .PetList__Item:nth-child(1n + 6) {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}